.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.title {
  font-size: 3rem;
}
.title--white {
  color: #fff;
}

.subtitle {
  font-size: 2rem;
}
.subtitle--white {
  color: #fff;
}
.subtitle--md {
  font-size: 1.55rem;
}
.subtitle--sm {
  font-size: 1rem;
}
.color-white {
  color: #fff;
}

:root {
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --imageBorderRadius: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.container {
  width: 100%;
}
.container-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}
.container-wrapper--navigation {
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
}

.header .appbar {
  display: flex;
  align-items: center;
  background-color: rgba(var(--tmdbDarkBlue), 1);
  height: 64px;
}
.header .nav {
  width: 100%;
  display: flex;
  align-items: center;
}
.header .nav .logo {
  width: 154px;
  margin-right: 1.6rem;
}
.header .nav .logo img {
  width: 100%;
  max-width: 154px;
}
.header .nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header .nav ul li {
  margin-right: 2em;
}
.header .nav ul li .en {
  display: block;
  border: 1px solid #fff;
  padding: 0.123em;
  border-radius: 3px;
}
.header .nav ul li .search {
  color: rgba(var(--tmdbLightBlue), 1);
  font-size: 1.4rem;
}
.header .nav ul a {
  text-decoration: none;
  color: #fff;
}
.header .nav .right {
  justify-self: flex-end;
  margin-left: auto;
}
.header .nav .right li:last-child {
  margin-right: 0;
}
.header .welcome-wrapper {
  padding: 3.4em 2em;
  background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url("https://www.themoviedb.org/t/p/w533_and_h300_bestv2/hiK4qc0tZijQ9KNUnBIS1k4tdMJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header .welcome-wrapper h1,
.header .welcome-wrapper h2 {
  line-height: 1.6;
}
.header .welcome .search_form {
  margin-top: 2.55em;
  display: flex;
  border-radius: 5.2em;
  overflow: hidden;
}
.header .welcome .search_form-input {
  flex: 1;
  padding: 0.9em 1em;
  margin-right: -2em;
  outline: none;
  color: rgba(var(--darkerGrey), 1);
  font-size: 1rem;
}
.header .welcome .search_form-input::placeholder {
  font-size: 1.6rem;
  font: inherit;
}
.header .welcome .search_form-btn {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35em 1em;
  border-radius: 5em;
  border: none;
  outline: none;
  background-image: linear-gradient(to right, rgba(var(--tmdbLightGreen), 1) 0%, rgba(var(--tmdbLightBlue), 1) 100%);
  color: #fff;
  cursor: pointer;
}

.section-title {
  padding: 0 0 1.1em 2.3em;
  display: flex;
  align-items: center;
}
.section-title .switcher {
  margin-left: 1.5em;
  display: flex;
  border: 1px solid rgba(var(--tmdbDarkBlue));
  border-radius: 1em;
  height: 30px;
  align-items: center;
  overflow: hidden;
}
.section-title .switcher div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8em;
  height: 100%;
}
.section-title .switcher div:last-child {
  margin-right: 0;
}
.section-title .switcher a {
  padding: 0 0.6em;
  font-size: 0.95rem;
  text-decoration: none;
  color: rgba(var(--tmdbDarkBlue), 1);
}
.section-title .switcher-active {
  background-color: rgba(var(--tmdbDarkBlue), 1);
  border-radius: 1em;
}
.section-title .switcher-active a {
  color: rgba(var(--tmdbLightGreen));
}

.section-popular {
  padding: 2em 0;
  padding-bottom: 0;
}

.section-trailers .trailers {
  background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8), rgba(var(--tmdbDarkBlue), 0.6)), url("https://www.themoviedb.org/t/p/w533_and_h300_bestv2/9IsGcpX1p0iU3eRpiTFrWkg5qqj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 0;
  padding-bottom: 0;
}

.section-trending {
  padding: 2em 0;
}

.flex-slider-container {
  position: relative;
}
.flex-slider-container::after {
  content: "";
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  background-image: linear-gradient(to left, #fff 20%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.02));
}
.flex-slider-container--video::after {
  content: "";
  width: 0;
  height: 0;
}

.flex-container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
.flex-container::-webkit-scrollbar {
  height: 8px;
  border-radius: 10px;
}
.flex-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}
.flex-container .item {
  margin-left: 1em;
  width: 100%;
  max-width: 155px;
  color: #000;
  font-size: 1.3rem;
  padding-bottom: 1em;
}
.flex-container .item img {
  border-radius: 0.5em;
  width: 100%;
  min-width: 155px;
  box-shadow: 0 2px 5px rgba(var(--lightGrey, 0.2));
}
.flex-container .item-content {
  position: relative;
}
.flex-container .item-content h3 {
  padding-top: 1em;
}
.flex-container .item-circle {
  position: absolute;
  top: -50%;
  left: 10px;
  background-color: rgba(var(--tmdbDarkBlue), 1);
  width: 41px;
  height: 41px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}
.flex-container .card {
  max-width: 300px;
  margin-left: 2em;
  padding-bottom: 0.8em;
}
.flex-container .card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  position: relative;
  border-radius: 5px;
}
.flex-container .card-image img {
  border-radius: 5px;
  width: 100%;
  min-width: 300px;
}
.flex-container .card-image:hover {
  transform: scale(1.03);
}
.flex-container .card-play {
  position: absolute;
  color: #fff;
}
.flex-container .card-more {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  background-color: rgba(231, 231, 231, 0.6);
  width: 23px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container .card-more span {
  display: block;
  width: 3px;
  height: 3px;
  background-color: gray;
  margin-right: 2px;
}
.flex-container .card-more span:last-child {
  margin-right: 0;
}
.flex-container .card-more:hover {
  background-color: rgba(var(--tmdbLightBlue), 1);
}
.flex-container .card-content {
  padding-top: 0.6em;
  text-align: center;
}
.flex-container .card-content a {
  text-decoration: none;
}
.flex-container .card-content h2 {
  color: #fff;
  font-size: 1.2rem;
}
.flex-container .card-content p {
  font-size: 1rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
