@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;700&display=swap');

:root {
    --max-width: 1332px;
    --appbar-height: 60px;
    --font-roboto: 'Roboto', sans-serif;
    --font-source: 'Source Sans Pro', sans-serif;
    --primary-color: #00DC5A;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: var(--font-roboto);
    background-color: #111319;

}

.wrapper {
    width: min(var(--max-width), 100%);
    margin-inline: auto;
}

.grid12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
}


.section {}

.footer {}