.dramas {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(6,auto);
}


.dramaCard {
    background-color: black;
    background-repeat: no-repeat;
    min-height: 360px;
    max-width: 260px;
    max-height: 360px;
    object-fit: cover;
    background-image: url(../assets/drama_1.webp);
    &_img {}
    &_episodes {}
    &_title {}
}