.header {
  background-color: #0a0b0f;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    height: var(--appbar-height);
  }

  &_left {
    gap: 32px;
    li {
      a {
        &.for_you {
          font-weight: 900;
          color: white;
          text-transform: capitalize;
          font-size: 1.65rem;
        }

        &.more {
          span {
            display: inline-block;
            vertical-align: middle;
            top: -0.01rem rem;
            position: relative;
            font-size: 0px;
            margin-left: 5px;
            width: 0px;
            height: 0px;
            border-left: 4px solid transparent;
            border-top: 4px solid #9c9d9e;
            border-right: 4px solid transparent;
          }

          &:hover {
            span {
              margin-top: -6px;
              border-left: 4px solid transparent;
              border-bottom: 4px solid var(--primary-color);
              border-top: 4px solid transparent;
              border-right: 4px solid transparent;
            }
          }
        }

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  &_right {
    gap: 40px;


    .search {
      display: grid;
      grid-template-columns: 196px 44px;
      grid-template-rows: 36px;
      input {
        display: block;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        border: none;
        width: 240px;
        height: 36px;
        padding: 0px 53px 0px 18px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.6);
        &:focus {
          outline: none;
        }
      }

      &_button {
        grid-row: 1 / -1;
        grid-column: 2 / 4;
        background: transparent;
        border: none;
        display: block;
        height: 36px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 12px;
        color: rgba(255, 255, 255, 0.6);
        
        &::before {
            position: absolute;
            display: block;
            content: "";
            height: 40%;
            width: 1px;
            left: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    li .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
            font-size: 1.2rem;
        }
        svg g {
            fill: currentColor;
        }
        &:hover {
            color: var(--primary-color);
        }
    }

    .app_vip {
        display: flex;
        align-items: center;
        gap: 16px;
        button {
            width: 82px;
            height: 36px;
            border-radius: 4px;
            cursor: pointer;

            
        }

        &--app {
            background: none;
            border: 1px solid white;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            svg g{
                fill: currentColor;
            }

            &:hover{
                color: var(--primary-color);
            border-color: var(--primary-color)
            }
        }

        &--vip {
            border: none;
            background-color: #F2BF84;
        }
    }


  }

  ul {
    display: flex;
    align-items: center;
    li {
      color: #9c9d9e;

      a {
        color: inherit;
      }
    }
  }
}
