.section {
  // Hero start
  &_hero {
    background-color: aqua;
    margin-top: -60px;
    background-image: url(../assets/back_1.webp);

    &_wrapper {
      height: 800px;
    }

    &_desc {
      grid-column: 1 / 5;
      height: 100%;
      z-index: 1;
      position: relative;

      .textbox {
        position: absolute;
        bottom: 0;

        &_title {
          width: 20.5vw;
          min-width: 180px;
          max-width: 360px;
          height: 13.67vw;
          max-height: 240px;
          min-height: 120px;
          background-size: 100% auto;
          background-position: left bottom;
          background-repeat: no-repeat;
          color: rgb(230, 230, 230);
          background-image: url(../assets/title_1.webp);
        }
      }
    }
    &_img {
      grid-column: 5 / -2;
      height: 100%;
      background-image: url(../assets/front_1.webp);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
    }

    &_navigation {
      grid-column: 12 / -1;
    }
  }
}
