@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  position: relative;
  text-decoration: none;
  width: 166px;
  height: 48px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 36px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
}
.btn-primary {
  background-color: #000;
  color: #fff;
}
.btn-primary::after {
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  right: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "ᐳ";
  vertical-align: top;
  transition: all 200ms ease-in-out;
  font-family: "MWF-MDL2";
  text-decoration: none;
  font-size: 0.85rem;
}
.btn-primary:hover {
  text-decoration: underline;
}
.btn-primary:hover::after {
  right: 40px;
}
.btn-secondary {
  color: #950c17;
  background-color: transparent;
}
.btn-secondary::after {
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "ᐳ";
  vertical-align: top;
  transition: all 200ms ease-in-out;
  font-family: "MWF-MDL2";
  text-decoration: none;
  font-size: 0.85rem;
}
.btn-secondary:hover {
  text-decoration: underline;
}
.btn-secondary:hover::after {
  right: 15px;
}
.btn-text {
  display: inline-block;
  width: auto;
  height: auto;
}

.textbox {
  border: 1px solid reds;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  line-height: 1.6;
}
.textbox .tip {
  background-color: #fff;
  color: #950c17;
  font-size: 0.8rem;
  padding: 0.3em;
  margin-bottom: 0.8em;
  font-weight: 400;
}
.textbox span {
  color: #000;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
}
.textbox p {
  margin: 1.3em 0;
  font-weight: 300;
}
.textbox-actions {
  display: flex;
}
.textbox-actions button {
  margin-right: 1.8em;
}
.textbox--inslider {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 5%;
  top: 0;
  z-index: 1000;
  max-width: 35em;
}

.container {
  max-width: 90%;
  margin: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.header .logo {
  width: 110px;
  margin-right: 2em;
}
.header .logo img {
  width: 100%;
}
.header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.header .left li {
  margin-right: 1.45em;
}
.header .left li a {
  text-decoration: none;
  color: #262626;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 0.5em 0;
  border-bottom: 2.5px solid transparent;
  transition: all 1s ease;
}
.header .left li a:hover, .header .left li a:focus, .header .left li a:active {
  border-bottom: 2.5px solid #262626;
}
.header .right {
  margin-left: auto;
}
.header .right li {
  margin-left: 0.1em;
}
.header .right li button {
  cursor: pointer;
  padding: 1em;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: all 1s ease;
}
.header .right li button span {
  color: #262626;
  font-weight: 300;
  font-size: 0.85rem;
  margin-right: 0.4em;
  border-bottom: 2px solid transparent;
  padding: 0.3em 0;
}
.header .right li button span a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
.header .right li button img {
  width: 16px;
  height: 16px;
}
.header .right li button img.drop-down {
  width: 10px;
  height: 10px;
}
.header .right li button img.signin {
  width: 32px;
  height: 32px;
  margin-top: -0.35em;
}
.header .right li button:hover span, .header .right li button:active span {
  border-bottom: 2px solid black;
}
.header .right li button:focus {
  outline: 1px dotted #262626;
}
.header .right li button:focus span {
  border-bottom: 2px solid black;
}

.gift-sale a {
  display: block;
  background-color: #950c17;
  color: #fff;
  font-size: 0.8em;
  padding: 0.8em 0;
  text-align: center;
}
.gift-sale a span {
  display: inline-block;
  position: relative;
}
.gift-sale a span::after {
  display: inline-block;
  position: relative;
  top: -2px;
  right: -5px;
  content: "ᐳ";
  vertical-align: top;
  transition: all 200ms ease-in-out;
  font-family: "MWF-MDL2";
  text-decoration: none;
}
.gift-sale:hover {
  text-decoration: underline;
}
.gift-sale:hover span::after {
  right: -10px;
}

.section-shop {
  overflow: hidden;
}

.slider {
  height: 500px;
  position: relative;
  overflow: hidden;
}
.slider-wrapper {
  transition: all 1s ease-in;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.slider-wrapper .slide {
  background-color: #f2f2f2;
  position: absolute;
  transition: all 1s ease-in;
}
.slider-wrapper .slide-1 {
  opacity: 1;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-wrapper .slide-2 {
  opacity: 0;
  left: 1em;
}
.slider-action {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.slider-action button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
