@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;700&display=swap");
:root {
  --max-width: 1332px;
  --appbar-height: 60px;
  --font-roboto: "Roboto", sans-serif;
  --font-source: "Source Sans Pro", sans-serif;
  --primary-color: #00DC5A;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

.wrapper {
  width: min(var(--max-width), 100%);
  margin-inline: auto;
}

.grid12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
}

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: sticky;
  top: 0;
  z-index: 10;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  height: var(--appbar-height);
}
.header_left {
  gap: 32px;
}
.header_left li a.for_you {
  font-weight: 900;
  color: white;
  text-transform: capitalize;
  font-size: 1.65rem;
}
.header_left li a.more span {
  display: inline-block;
  vertical-align: middle;
  top: -0.01rem rem;
  position: relative;
  font-size: 0px;
  margin-left: 5px;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-top: 4px solid #9c9d9e;
  border-right: 4px solid transparent;
}
.header_left li a.more:hover span {
  margin-top: -6px;
  border-left: 4px solid transparent;
  border-bottom: 4px solid var(--primary-color);
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
}
.header_left li a:hover {
  color: var(--primary-color);
}
.header_right {
  gap: 40px;
}
.header_right .search {
  display: grid;
  grid-template-columns: 196px 44px;
  grid-template-rows: 36px;
}
.header_right .search input {
  display: block;
  grid-row: 1/-1;
  grid-column: 1/-1;
  border: none;
  width: 240px;
  height: 36px;
  padding: 0px 53px 0px 18px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
}
.header_right .search input:focus {
  outline: none;
}
.header_right .search_button {
  grid-row: 1/-1;
  grid-column: 2/4;
  background: transparent;
  border: none;
  display: block;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.header_right .search_button::before {
  position: absolute;
  display: block;
  content: "";
  height: 40%;
  width: 1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.header_right li .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header_right li .box span {
  font-size: 1.2rem;
}
.header_right li .box svg g {
  fill: currentColor;
}
.header_right li .box:hover {
  color: var(--primary-color);
}
.header_right .app_vip {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header_right .app_vip button {
  width: 82px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
}
.header_right .app_vip--app {
  background: none;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header_right .app_vip--app svg g {
  fill: currentColor;
}
.header_right .app_vip--app:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.header_right .app_vip--vip {
  border: none;
  background-color: #F2BF84;
}
.header ul {
  display: flex;
  align-items: center;
}
.header ul li {
  color: #9c9d9e;
}
.header ul li a {
  color: inherit;
}

.section_hero {
  background-color: aqua;
  margin-top: -60px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../assets/back_1.webp);
}
.section_hero_wrapper {
  height: 800px;
}
.section_hero_desc {
  grid-column: 1/5;
  height: 100%;
  z-index: 1;
  position: relative;
}
.section_hero_desc .textbox {
  position: absolute;
  bottom: 0;
}
.section_hero_desc .textbox_title {
  width: 20.5vw;
  min-width: 180px;
  max-width: 360px;
  height: 13.67vw;
  max-height: 240px;
  min-height: 120px;
  background-size: 100% auto;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: rgb(230, 230, 230);
  background-image: url(../assets/title_1.webp);
}
.section_hero_desc .textbox_top {
  display: flex;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  gap: 4px;
  margin-bottom: 1.5rem;
}
.section_hero_desc .textbox_top .top {
  display: flex;
  border-radius: 6px;
}
.section_hero_desc .textbox_top .top div:first-child {
  background-color: var(--primary-color);
}
.section_hero_desc .textbox_top .top div {
  padding: 2px 4px;
  background: rgba(255, 255, 255, 0.3);
}
.section_hero_desc .textbox_top .release {
  padding: 2px 4px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.section_hero_desc .textbox_meta {
  display: flex;
  margin-bottom: 1.5rem;
}
.section_hero_desc .textbox_meta span {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  position: relative;
  display: block;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
.section_hero_desc .textbox_meta span.rating svg {
  transform: scale(0.95);
}
.section_hero_desc .textbox_meta span:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 10px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.section_hero_desc .textbox_geners {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}
.section_hero_desc .textbox_geners span {
  padding: 0px 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  font-size: 1.2rem;
  color: white;
  text-shadow: -1px 0 1px rgba(0, 0, 0, 0.6);
}
.section_hero_desc .textbox_about {
  color: white;
  font-size: 1.45rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.section_hero_desc .textbox_actions {
  display: flex;
  gap: 14px;
}
.section_hero_desc .textbox_actions button {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
}
.section_hero_desc .textbox_actions button svg {
  transform: scale(0.9);
}
.section_hero_img {
  grid-column: 5/-2;
  height: 100%;
  background-image: url(../assets/front_1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.section_hero_navigation {
  grid-column: 12/-1;
}

/*# sourceMappingURL=style.css.map */
