.appbar {
  height: 85px;
  position: relative;
  z-index: 1000;
  background-image: linear-gradient(
    to bottom,
    rgba($dark, 1),
    rgba($dark, 0.8),
    rgba($dark, 0.1)
  );
  &_wrapper {
    padding: 2.8rem 7rem;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .left {
    .logo {
      width: 180px;
      img {
        width: 100%;
      }
    }
  }

  .right {
    margin-left: auto;
    display: flex;
    align-items: center;
    .languages {
      margin-right: 10px;
      color: $white;
      button {
        display: flex;
        border: 1px solid $white;
        padding: 5px 8px;
        align-items: center;
        background-color: transparent;
        color: inherit;
        border-radius: 2px;
        font-size: 1.4rem;
        div {
          margin: 0 3px;
        }
      }
      ul {
        display: none;
      }
    }
  }

  .sign-in_btn {
    display: flex;
    border: 1px solid $white;
    padding: 5px 8px;
    background-color: $red;
    color: $white;
    border-radius: 3px;
    font-weight: lighter;
    border: none;

    font-size: 1.4rem;
  }
}
