header {
  width: 100%;
  height: 100vh;

  background-image: url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    background-image: linear-gradient(
      to top,
      rgba($dark, 0.8) 5%,
      rgba($dark, 0.1)
    );
  }
}

.section {
  height: 500px;
  background-color: $dark;
  color: $white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .wrapper {
    height: 100%;
    max-width: 1110px;
    display: flex;

    .left {
      flex: 1;
      &-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.6rem;
        img {
          width: 90%;
        }
      }
    }

    .right {
      flex: 1;
      &-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 90%;
        }
      }
    }
  }
}

.section-textbox {
  h1 {
    font-size: 5rem;
    margin-bottom: 1.6rem;
  }
  p {
    font-size: 2.8rem;
  }
}

.divider {
  height: 14px;
  background-color: rgba($dark, 0.8);
}

.questions-section {
  padding: 6.5rem 0;
  background-color: $dark;

  .questions-container {
    max-width: 800px;
    margin: auto;

    h1 {
      text-align: center;
      color: $white;
      font-size: 5.57rem;
      margin-bottom: 4.5rem;
    }

    .question {
      &-list {
        list-style: none;
        margin-bottom: 6rem;
      }
      &-item {
        margin-bottom: 1.3rem;
        background-color: #303030;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 1em 2em;
        p {
          font-size: 2.7rem;
        }
      }
      &-answer {
        cursor: pointer;
        overflow: hidden;
        height: 0;
        transition: all 1s ease-in;

        p {
          font-size: 2.3rem;
          color: $white;
          padding: 1em;
        }

        &--show {
          height: auto;
          overflow: auto;
        }
      }

      &-close {
        cursor: pointer;
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        div {
          background-color: $white;
          height: 2px;
          width: 25px;
          transform-origin: center;
          position: absolute;
        }
        &--1 {
          transform: rotate(90deg);
        }
        &--2 {
        }
      }
    }
  }
}
