.header {
  &-container {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 110px;
    img {
      width: 100%;
    }
    margin-right: 2em;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
    }
  }
  .left {
    li {
      margin-right: 1.45em;
      a {
        text-decoration: none;
        color: $text-color-gray--1;
        font-size: 0.8rem;
        font-weight: lighter;
        padding: 0.5em 0;
        border-bottom: 2.5px solid transparent;
        transition: all 1s ease;
        &:hover,
        &:focus,
        &:active {
          border-bottom: 2.5px solid $text-color-gray--1;
        }
      }
      @include respond(mobile) {
        display: none;
      }
    }
    .hide {
      @include respond(laptop) {
        display: none;
      }
    }
    .more {
      display: none;
      @include respond(laptop) {
        display: block;
      }
    }
  }
  .right {
    margin-left: auto;
    li {
      margin-left: 0.1em;
      button {
        cursor: pointer;
        padding: 1em;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        background-color: $white;
        transition: all 1s ease;
        span {
          color: $text-color-gray--1;
          font-weight: 300;
          font-size: 0.85rem;
          margin-right: 0.4em;
          border-bottom: 2px solid transparent;
          padding: 0.3em 0;
          a {
            text-decoration: none;
            color: inherit;
            font: inherit;
          }
          @include respond(laptop) {
            display: none;
          }
        }
        img {
          width: 16px;
          height: 16px;

          &.drop-down {
            width: 10px;
            height: 10px;
          }
          &.signin {
            width: 32px;
            height: 32px;
            margin-top: -0.35em;
          }
        }
        &:hover,
        &:active {
          span {
            border-bottom: 2px solid black;
          }
        }
        &:focus {
          outline: 1px dotted $text-color-gray--1;
          span {
            border-bottom: 2px solid black;
          }
        }
      }
    }
  }
}
