// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 1201px) {
      @content;
    }
  }
}
