@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto:wght@100;300&family=Zen+Antique+Soft&family=Zen+Maru+Gothic:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}

.appbar {
  height: 85px;
  align-items: center;
  position: relative;
  z-index: 1000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}
.appbar_wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
}
.appbar .left .logo {
  width: 90px;
}
.appbar .left .logo img {
  width: 100%;
}
.appbar .right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.appbar .right .languages {
  margin-right: 10px;
  color: #fff;
}
.appbar .right .languages button {
  display: flex;
  border: 1px solid #fff;
  padding: 5px 8px;
  align-items: center;
  background-color: transparent;
  color: inherit;
  border-radius: 2px;
  font-size: 1.4rem;
}
.appbar .right .languages button div {
  margin: 0 3px;
}
.appbar .right .languages ul {
  display: none;
}
.appbar .sign-in_btn {
  display: flex;
  border: 1px solid #fff;
  padding: 5px 8px;
  background-color: #e50914;
  color: #fff;
  border-radius: 3px;
  font-weight: lighter;
  border: none;
  font-size: 1.4rem;
}

header {
  width: 100%;
  height: 80vh;
  background-image: url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png");
  position: relative;
}
header::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.1));
}

.getstarted {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(80vh - 85px);
}
.getstarted .textbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  margin-bottom: 1.6rem;
}
.getstarted .textbox h1 {
  font-size: 2.55rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.getstarted .textbox .canceltext {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.getstarted .textbox p {
  line-height: 1.6;
  padding: 0 2rem;
  font-size: 1.6rem;
}
.getstarted .emailbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.getstarted .emailbox .email_input {
  margin-bottom: 1.6rem;
  width: 90%;
  height: 50px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;
}
.getstarted .emailbox .email_input:focus-within {
  border-bottom: 2px solid #e94f4f;
}
.getstarted .emailbox .email_input label {
  display: block;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 0.8rem;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  padding-bottom: 0.3rem;
}
.getstarted .emailbox .email_input input[type=email] {
  display: block;
  padding: 0 0.8rem;
  color: #010101;
  font-size: 1.6rem;
  border: none;
  outline: none;
  width: 100%;
  transition: all 0.3s ease;
}
.getstarted .emailbox .email_input input[type=email]:focus::placeholder {
  opacity: 0;
}
.getstarted .emailbox .email_input input[type=email]:focus + label {
  opacity: 1;
}
.getstarted .emailbox button {
  text-transform: capitalize;
  background-color: #e50914;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.getstarted .emailbox button span {
  margin-left: 1rem;
  font-weight: lighter;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
